.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    height: 100%;
    left: 0;
  }
  
  .content {
    margin-left: 250px;  /* Đẩy nội dung sang phải để không bị che khuất bởi Sidebar */
    padding: 20px;
    width: 100%;
  }
  